.main-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 20px;
    background: #f3f4f6;
  }
  
  @media (max-width: 768px) {
    .main-content {
      grid-template-columns: 1fr;
    }
  }
  
  .Top-container{
    padding: 20px;
    background-color: #F4F4F6;
    padding-left: 20px;
    padding-right: 20px;
  }